<header>
  <nav class="navbar">
    <div class="logo">
      <a href="/">E-Shop</a>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <% if (!user) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      <% } else { %>
        <li><a href="/cart">Your Cart (<%= cartCount %>)</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>
<header>
  <nav class="navbar">
    <div class="logo">
      <a href="/">E-Shop</a>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <% if (!user) { %>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      <% } else { %>
        <li><a href="/cart">Your Cart (<%= cartCount %>)</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>

<!-- Sidebar starts here -->
<aside class="sidebar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/products">Products</a></li>
    <% if (user) { %>
      <li><a href="/cart">Your Cart (<%= cartCount %>)</a></li>
      <li><a href="/logout">Logout</a></li>
    <% } else { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
    <% } %>
  </ul>
</aside>
